<form method="post" action="/puppy">
<p>Name: <input type="text" name="name" id="name"></p></p>
<p>Breed: <input type="text" name="breed" id="breed"></p>
<p>Age: <input type="text" name="age" id="age"></p>
<input type="submit" id="submit" value = "Create a pup">
